<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{!-- Option 1 local file > Add link to css --}}
    <link rel='stylesheet' href='/wk4dm2/public/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    {{{body}}}

    {{!-- add link to js file --}}
    <script src="/wk4dm2/public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
