<!-- footer -->
<footer class="fixed-bottom bg-dark text-center text-white">
    <div class="pt-3">
      <div class="row">
          <div class="col-md-6 col-lg-8 mx-auto">
              <p class="copyright text-center">Copyright © Yu-Hsuan Huang 2021 | Web Design by Yu-Hsuan</p>
          </div>
      </div>
    </div>
  </footer>

  <!-- add bootstrap javascirpt -->
  <script src="/javascripts/jquery-3.6.0.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>