<head>
    <title><%= title %></title>


    <!-- customer style -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- bootstrap css style -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- font-awesome css style -->
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/brands.min.css" />
    <link rel="stylesheet" href="/stylesheets/solid.min.css" />

</head>