<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- customer style --}}
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- bootstrap css style --}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    {{!-- font-awesome css style --}}
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/brands.min.css" />
    <link rel="stylesheet" href="/stylesheets/solid.min.css" />

    {{!-- add chart.js --}}
    <script src="/javascripts/chart.js"></script>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" href="/">TrackSpending</a>

          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/expense">Expense</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/category">Category</a>
              </li>
            </ul>

            <!-- right links -->
            <div class="d-flex align-items-center ml-auto">
              {{#if user}}
                <a href="#" class="btn btn-link text-light mx-3">{{user.username}}</a>
                <a href="/logout" class="btn btn-primary mx-3">Logout</a>
              {{else}}
                <a href="/login" class="btn btn-link text-light mx-3">Login</a>
                <a href="/register" class="btn btn-primary mx-3">Sign up</a>
              {{/if}}
            </div>

          </div>
        </div>
      </nav>
    </header>

    <main class="container">
      {{{body}}}
    </main>

    <footer>
    </footer>

    {{!-- add bootstrap javascirpt --}}
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    {{!-- customer javascirpt --}}
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
