<section class="common-section">
    <div class="container">
        <div class="text-center">
            <h1>Contact ME</h1>
        </div>
        <hr class="common-section-hr" />
        <div class="contact-form-padding-top">
            <form method="POST">
                <div class="form-row">
                    <div class="col col-sm-12">
                        <div class="form-group">
                            <input class="form-control" name="name" type="text" placeholder="Your Name" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col col-contact">
                        <div class="form-group contact-item-right">
                            <input class="form-control" name="phone" type="text" placeholder="Phone" required/>
                        </div>
                    </div>
                    <div class="col col-contact">
                        <div class="form-group">
                            <input class="form-control" name="email" type="text" placeholder="Email" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group contact-item-subject">
                            <input class="form-control" name="subject" type="text" placeholder="Subect" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group ">
                            <textarea class="form-control contact-item-textarea" name="message" placeholder="Message" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-center">
                        <button class="btn btn-primary" type="submit">Submit Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>