<section class="home-cover">
    <div >
        <h4>Hello</h4>
        <h1>I'm Sean</h1>

        <p>My name is YuHsuan Huang (Sean). I am a student at Georgian College.</p>
        <p>&amp Software Engineer. I do love my job.</p>

        <p>Bet to know me :</p>
        <a href="/about" class="btn btn-light">more <i class="fas fa-angle-right"></i> </a>
    </div>
</section>
<section class="my-3">
    <h2 class="text-center pt-4 pb-4">My Technique</h2>
    
    <div class="row row-cols-1 row-cols-sm-4 technique-row">
        <div class="col">
            <figure class="technique">
                <div class="image">
                    <img src="/images/markus-spiske-1LLh8k2_YFk-unsplash.jpg" alt="Software Development" />
                </div>
                <figcaption>
                    <h3>Software Development</h3>
                    <p>Windows program, shell script, application, Arduino embedded tool developemt</p>
                </figcaption><a href="#"></a>
            </figure>
        </div>
        <div class="col">
            <figure class="technique">
                <div class="image">
                    <img src="/images/charles-deluvio-HTDVSbFsy3U-unsplash.jpg" alt="Web Design" />
                </div>
                <figcaption>
                    <h3>Web Development</h3>
                    <p>Multiple web development abilities, like Java, C#, PHP, Angular and so on.</p>
                </figcaption><a href="#"></a>
            </figure>
        </div>
        <div class="col">
            <figure class="technique">
                <div class="image">
                    <img src="/images/sara-kurfess-6lcT2kRPvnI-unsplash.jpg" alt="Mobile App" />
                </div>
                <figcaption>
                    <h3>Mobile APP</h3>
                    <p>Android APP &amp iOS APP native development. Using Ionic &amp Cordova develop hybrid APP.</p>
                </figcaption><a href="#"></a>
            </figure>
        </div>
    </div>
</section>
