<h1 class="py-3">{{title}}</h1>

{{!-- add category form --}}
<form method="POST" class="pt-3">
    
    {{!-- Fields --}}
    <fieldset>
        <label for="name" class="col-2">Name:</label>
        <input name="name" id="name" required>
    </fieldset>

    {{!-- Button --}}
    <button class="offset-11 btn btn-primary">Save</button>
</form>
